@font-face {
    font-family: "CormorantGaramond";
    src: url(static/CormorantGaramond-Regular.ttf) format(truetype);
    font-weight: 400;
}

@font-face {
    font-family: "CormorantGaramond";
    src: url(static/CormorantGaramond-Bold.ttf) format(truetype);
    font-weight: 900;
}

@font-face {
    font-family: "CormorantGaramond";
    src: url(static/CormorantGaramond-SemiBold.ttf) format(truetype);
    font-weight: 700;
}